### Import and Clean Data Script

In [1]:
import os
import gzip
import glob
import json
import pickle

import pandas as pd
import numpy as np

import osmium as osm
from os import sep

#### Import data

In [2]:
# Working directory
cwd = f"C:{sep}Users{sep}ltswe{sep}Dropbox{sep}Oxford{sep}Thesis"
# Data directory is kept on flash
data_dir = "D:"

In [ ]:
# Create list of the JSONs that will need to be loaded in 
# Glob.glob creates a list of all the files that end in .json in the directories/sub-directories of raw_tweets
# The rest of the command filters out jsons that end in 00000.json since those represent meta counts and not actual tweets
json_list = [j for j in glob.glob(f'{data_dir}{sep}raw_tweets{sep}**{sep}*.json', recursive=True)
             if j[-10:] != '00000.json']
len(json_list)

In [ ]:
# Turn into pandas dataframe using pd.concat
# Commence with blank dataframe
raw_df = pd.DataFrame()
for j in json_list:
    temp_json = json.load(open(j))
    temp_df = pd.json_normalize(temp_json['data'])
    raw_df = pd.concat((raw_df, temp_df))

In [ ]:
# # Pickle the raw data 
raw_tweets_pickle = open(f"{data_dir}{sep}pickle{sep}raw_tweets_df.pickle", "wb")
pickle.dump(raw_df, raw_tweets_pickle)

In [3]:
# Bring in pickled data
raw_df = pickle.load(open(f"{data_dir}{sep}pickle{sep}raw_tweets_df.pickle", "rb"))

In [4]:
raw_df

,author_id,conversation_id,created_at,id,lang,possibly_sensitive,source,text,public_metrics.like_count,public_metrics.quote_count,...,entities.mentions,entities.hashtags,entities.cashtags,entities.urls,geo.place_id,geo.coordinates.coordinates,geo.coordinates.type,attachments.media_keys,withheld.copyright,withheld.country_codes
0,16270679,1048448918,2008-12-10T03:20:05.000Z,1048448918,fr,False,Twitter Web Client,[1] Etobicoke\r\nMedical: Personal Injury\r\nM...,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16752013,1048448597,2008-12-10T03:19:55.000Z,1048448597,et,False,Twitter Web Client,"qu rent 1 BEDROOM APARTMENT (ELMHURST, WOODSID...",0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16752013,1048448363,2008-12-10T03:19:47.000Z,1048448363,en,False,Twitter Web Client,qu rent Huge Studio~~~Newest Lux. Building~2 M...,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14640856,1048439470,2008-12-10T03:14:03.000Z,1048439470,en,False,Twitter Web Client,twHILLARY&gt; bk rent OMG-NO FEE-*ALLUTILITIES...,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15497529,1048435050,2008-12-10T03:11:05.000Z,1048435050,en,False,Twitter SMS,i got some free tix avail to my standup comedy...,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,83022601,367422163223339008,2013-08-14T00:59:22.000Z,367450341304188929,en,False,Twitter for iPhone,@thatpuss who donal?,0,0,...,"[{'end': 9, 'start': 0, 'username': 'thatpuss'}]",NaN,NaN,NaN,086752cb03de1d5d,"[-73.97655605, 40.76354957]",Point,NaN,NaN,NaN
486,226993115,367450333976330240,2013-08-14T00:59:21.000Z,367450333976330240,en,False,Twitter for Android,RT @DIVMONDAL_: Big bamboos hanging off of my ...,0,0,...,"[{'end': 14, 'start': 3, 'username': 'DIVMONDA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,883976186,367450331963076608,2013-08-14T00:59:20.000Z,367450331963076608,en,False,Twitter for iPhone,RT @ABCFpll: The new #Ravenswood teaser is up!...,0,0,...,NaN,"[{'end': 32, 'start': 21, 'tag': 'Ravenswood'}]",NaN,"[{'display_url': 'on.fb.me/13WYzWc', 'end': 84...",NaN,NaN,NaN,NaN,NaN,NaN
488,834387390,367450322832486400,2013-08-14T00:59:18.000Z,367450322832486400,und,False,Twitter for iPhone,OMGGGGGG 😭😭😭,0,0,...,NaN,NaN,NaN,NaN,b6ea2e341ba4356f,"[-73.81295267, 40.75143092]",Point,NaN,NaN,NaN
489,259085856,367420026485084160,2013-08-14T00:59:18.000Z,367450322051936256,en,False,Twitter for iPhone,@Knick_44 @Pr3TTiSMiiLe_X0 you sure? Don't wan...,0,0,...,"[{'end': 9, 'start': 0, 'username': 'Knick_44'}]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Bring in crime and 311 data, which uses the Socrata API in NYC Open Data
# Create a function that uses the Socrata API, which is written in SoQL, a SQL-like language, to query data
from sodapy import Socrata

def socrata_API_df(source_domain, dataset_id, select_string, where_string, limit=1000):
    '''
    Inputs: 
    source_domain: This tells Socrata the source of the dataset you're querying
    dataset_id: This is the unique id of the dataset
    select_string: This string tells Socrata which variables you are selecting from the dataset
    where_string: This string is equivalent to the "where" command in SQL
    limit = This tells Socrata how many results to query. The default is 1000 b/c Socrata automatically sets it to 1000

    Outputs a dataframe with with the queried results
    '''
    keyFile = open(f'{cwd}{sep}tokens{sep}socrata_apikey.txt', 'r')
    token = keyFile.readline() #api token imported from txt file
    
    client = Socrata(source_domain, token)
    # Change timeout var to arbitrarily large # of seconds so it doesn't time out
    client.timeout = 50
    results = client.get(dataset_id, limit = limit, select = select_string, where = where_string)
    df = pd.DataFrame.from_records(results)
    return df

In [9]:
# Create function to shorten lat/long
# Cut lat/long to 4 decimals (10 m)
def round_lat_long(df):
    df["latitude"] = df["latitude"].apply(lambda x: round(float(x),3))
    df["longitude"]= df["longitude"].apply(lambda x: round(float(x),3))

In [20]:
# Pull in 311 and Null Data 
# 2007, 2008, & 2009 are separate; 2010-on are in a single file. 
# The only thing that changes between 2007-09 is the dataset ID, & the id + where string for 2010-on
# so write a function that calls upon the 311 socrata API data
# complaint type string -- separated for ease of understanding. Complaint types drawn from literature
complaint_type_str = "complaint_type = 'Noise - Street/Sidewalk' OR complaint_type = 'Noise - Residential' OR complaint_type = 'Noise - Vehicle' OR complaint_type = 'Street Condition' " \
                    "OR complaint_type = 'Homeless Encampment' OR complaint_type = 'Drinking' OR complaint_type = 'Noise' " \
                    "OR complaint_type = 'Noise - Park' OR complaint_type = 'Noise - House of Worship' OR complaint_type = 'HEATING' " \
                    "OR complaint_type = 'GENERAL CONSTRUCTION' OR complaint_type = 'CONSTRUCTION' OR complaint_type = 'Boilers' " \
                    "OR complaint_type = 'For Hire Vehicle Complaint' OR complaint_type = 'Bike Rack Condition' OR complaint_type = 'Illegal Parking' " \
                    "OR complaint_type = 'Building/Use' OR complaint_type = 'ELECTRIC' OR complaint_type = 'PLUMBING'"

def pull_311(dataset_id, where_string = f'latitude IS NOT NULL AND ({complaint_type_str})'):
    return socrata_API_df(source_domain = "data.cityofnewyork.us", dataset_id = dataset_id, \
                         select_string = 'unique_key, created_date, complaint_type, date_extract_y(created_date) as year, date_extract_m(created_date) as month, descriptor, latitude, longitude', \
                         where_string = where_string,
                         limit = 4000000)

# 2007-2013
nyc_311_07 = pull_311("aiww-p3af")
nyc_311_08 = pull_311('uzcy-9puk')
nyc_311_09 = pull_311('3rfa-3xsf')
nyc_311_10_13 = pull_311('erm2-nwe9', \
                where_string = f'({complaint_type_str}) AND latitude IS NOT NULL AND (year = 2010 OR year = 2011 OR year = 2012 OR year = 2013)')

# Combine all four
nyc_311 = nyc_311_07.append(nyc_311_08).append(nyc_311_09).append(nyc_311_10_13)

In [21]:
nyc_311.complaint_type.unique()

array(['Noise - Street/Sidewalk', 'Noise - Vehicle', 'Street Condition',
       'Homeless Encampment', 'Noise - Park', 'Drinking', 'Noise',
       'Building/Use', 'HEATING', 'ELECTRIC', 'PLUMBING',
       'GENERAL CONSTRUCTION', 'Boilers', 'CONSTRUCTION',
       'Noise - House of Worship', 'For Hire Vehicle Complaint',
       'Noise - Residential', 'Illegal Parking', 'Bike Rack Condition'],
      dtype=object)

In [ ]:
nyc_311_pickle = open(f"{data_dir}{sep}pickle{sep}nyc_311.pickle", "wb")
pickle.dump(nyc_311, nyc_311_pickle)

In [12]:
# Pull in NYC historical crime data (also uses Socrata data)
select_string = 'cmplnt_num, cmplnt_fr_dt AS date, date_extract_y(cmplnt_fr_dt) AS year,' \
    'date_extract_m(cmplnt_fr_dt) AS month,  pd_cd AS class, pd_desc, law_cat_cd AS level, crm_atpt_cptd_cd AS completed, latitude, longitude'
where_string = 'latitude IS NOT NULL AND (year = 2007 OR year = 2008 OR year = 2009 OR year = 2010 OR year = 2011 OR year = 2012 OR year = 2013)'
nyc_crime = socrata_API_df(source_domain = "data.cityofnewyork.us", dataset_id = 'qgea-i56i', \
                           select_string = select_string, where_string = where_string, limit = 4000000)

In [26]:
nyc_crime_pickle = open(f"{data_dir}{sep}pickle{sep}nyc_crime.pickle", "wb")
pickle.dump(nyc_crime, nyc_crime_pickle)

KeyboardInterrupt:

In [ ]:
# Get latitude/longitude for data
import requests
import json

def geocode_api(lat, long):
    '''Given a latitude and longitude, this function uses the FCC geocoding API to return the corresponding census tract FIPS code'''
    resp = requests.get("https://geo.fcc.gov/api/census/block/find?latitude=" + str(lat) + "&longitude=" + str(long) + "&format=json")
    j = resp.json() #turn to JSON
    fips = j['Block']["FIPS"] #get census tract number from JSON
    return fips

def geocode_df(df):
    '''Given a dataframe with two cols with latitude and longitude coordinates, this function uses the geocode_api function to 
    return a list that equals the census tract FIPS code for those lat/long coords'''
    fips_list = []
    lat_col = df.columns.get_loc("latitude")
    long_col = df.columns.get_loc("longitude")
    for row in range(df.shape[0]): #run through every row of the data frame
        lat = df.iloc[row, lat_col] #get latitude coordinate for this listing
        long = df.iloc[row, long_col] #get longitude coor for this listing
        fips = geocode_api(lat, long) #get fips code for listing
        fips_list.append(fips)
    return fips_list